<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="library.demo.one">

    <!--    //网络-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!--    //sd卡读写-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".AppApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.Test1Activity" />
        <activity android:name=".activity.ScanActivity" />
        <activity android:name=".activity.Test2Activity" />
        <activity android:name=".activity.Activity1" />
        <activity android:name=".activity.Activity2" />
        <activity android:name=".activity.Activity3" />
        <activity android:name=".activity.Activity4" />
        <activity android:name=".activity.Activity5" />
        <activity android:name=".activity.Activity6" />
        <activity android:name=".activity.Activity7" />
        <activity android:name=".activity.Activity8" />
        <activity android:name=".activity.Activity9" />


        <receiver android:name=".receiver.InstallUninstallBroadcastReceiver">

            <intent-filter>

                <!-- 应用安装了 -->
                <action android:name="android.intent.action.PACKAGE_ADDED" />

                <!-- 应用卸载了 -->
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <!-- 应用被覆盖了 -->
                <action android:name="android.intent.action.PACKAGE_REPLACED" />

                <!-- 系统就是这样发送的，所以必须这样订阅 -->
                <data android:scheme="package" />

            </intent-filter>

        </receiver>
    </application>

</manifest>